.person-data{

    border: 1px solid black;
    width:300px;
    text-align: center;
    background-color: black;
    color: wheat;
    padding: 10px;


}

header{

    background-color: green;
    color: whitesmoke;
    padding: 10px;
    font-weight: bold;


}
.content{

    display: flex;
    justify-content: space-around;
}

.topheader{
    width: 100%;
    background-color: green;
    color: wheat;
    font-weight: bold;
    border-radius: 100px;
}